<%- include('./includes/header.ejs') %>
<div
  style="
    padding: 80px 20px;
    margin: 0 auto;
    font-family: Arial, sans-serif;
    text-align: center;
  "
>
  <h3 style="font-size: 18px">Halo Pengguna Secondhand,</h3>
  <p style="line-height: 24px; font-size: 16px">
    Kami telah menerima pendaftaran akunmu di secondhand. <br />Segera konfirmasi akunmu di sini ya.
  </p>
  <a
    href="<%= content %>"
    style="
      background: #4b2179;
      padding: 15px 30px;
      border-radius: 30px;
      display: inline-block;
      text-decoration: none;
      border: 0;
      text-align: center;
      font-size: 16px;
      color: #ffffff;
    "
    class="button_link"
    >Konfirmasi Email
  </a>
</div>
<%- include('./includes/footer.ejs') %>
